<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=false;">
    <title>RDS Studio - Home Page</title>

    @*Bootstrap Core Css*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" id="mainNav">
        <div class="container">
            <div class="navbar-header page-scroll">                
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarcollapse" style="padding:5px" aria-hidden="true">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>                   
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">RDS Studio</a>
                </div>
            <div class="navbar-collapse collapsing" id="navbarcollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#pagetop"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>            
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; RDS Studio 2017</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">                            
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/RDS_Redefining-Design-Style-695624313867085/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
        </footer>
    </div>

</body>
</html>