@model TrialWebsite.Models.ContactForm

<head>
    @{
        ViewBag.Title = "Index";
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=false;">
    <title>RDS Studio</title>
    <!--Bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- Custom styles for t%his template -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/TeamStyle.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/CustomTimeline.css" rel="stylesheet" />
</head>

<body id="page-top">
    <div class="container">
        <!-- Header -->
        <header>

            <div class="carousel fa-sliders img-responsive" data-ride="carousel" id="myCarousel">

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/IMG_7007.JPG" alt="Placeholder" class="img-responsive" />
                        @*<div class="container" style="margin-top:150px; margin-bottom:150px">*@
                        <div class="carousel-caption">
                            <h1 class="display-3" style="color:whitesmoke">Welcome To Our Studio!</h1>
                            <p class="lead" style="color:whitesmoke">It's Nice To Meet You</p>
                            <a href="#services" class="page-scroll btn btn-primary btn-xl">Tell Me More</a>
                        </div>
                        @*</div>*@
                    </div>
                    <div class="item">
                        <img src="~/Images/2017-10-14_1502_1.png" alt="Placeholder2" class="img-responsive" />
                    </div>
                    <div class="item">
                        <img src="~/Images/2017-10-14_1504_1.png" alt="Placeholder3" class="img-responsive" />
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </header>
    </div>

    <!--Services Section-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What we have to offer to you!!!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse" style="background-color:#1AD0AA"></i>
                    </span>
                    <h4 class="service-heading">Consultation</h4>
                    <p class="text-muted">We help you find the right cost and solutions for renovating or designing it from scratch. Be it any space(Office, lounges or home).</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse" style="background-color:#1AD0AA"></i>
                    </span>
                    <h4 class="service-heading">Interior Designs</h4>
                    <p class="text-muted">A one stop shop for complete Interior Designing solutions. We have an experienced team for taking care of you!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-support fa-stack-1x fa-inverse" style="background-color:#1AD0AA"></i>
                    </span>
                    <h4 class="service-heading">Designing</h4>
                    <p class="text-muted">We provide design drafts for customers who just want to levrage our designing skills.</p>
                </div>
            </div>
        </div>
    </section>
    <!--Portfolio Section-->
    <section id="portfolio" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Projects we have done so far...</h3>
                </div>
            </div>

        </div>
    </section>


    <!--Testimonials-->
    <!--About Us Section-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">How we made RDS Studio</h3>
                </div>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2014</h4>
                            <h5 class="timeline-title text-muted">Our Humble Beginnings</h5>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2015</h4>
                            <h5 class="timeline-title text-muted">Foundation</h5>
                            </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>           
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2016</h4>
                            <h5 class="timeline-title text-muted">Freelancing Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2017-Present</h4>
                            <h5 class="timeline-title text-muted">A Mature Firm</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>
            </ul>
            @*<div class="timeline">
                    <div class="container left">
                        <div class="content">
                            <h4>2014</h4>
                            <h5 class="text-muted">Our Humble Beginnings</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h4>2015</h4>
                            <h5 class="text-muted">Foundation</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h4>2016</h4>
                            <h5 class="text-muted">Freelancing Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h4>2017-Present</h4>
                            <h5 class="text-muted">A Mature Firm</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </div>*@
        </div>
        @*</div>
            </div>*@
    </section>

    <!--Team Section-->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Founders of RDS Studio. We are a small team with great skills</h3>
            </div>
        </div>
        <div class="row member-content" style="margin-top:25px">
            <div class="col-md-4">
                <div class="col-md-4 col-sm-offset-5 member-thumb  fade-right in">
                    <img class="img-responsive img-center img-thumbnail img-circle" src="~/Images/Screenshot_2015-08-16-20-51-23.png" alt="">
                    <h4>Shweta Makwana</h4>
                    <p class="title">Lead Designer &amp; Founder</p>
                </div>
                <div class="col-md-12">
                    <div class="details">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 col-sm-offset-5 member-thumb  fade-right in">
                    <img class="img-responsive img-center img-thumbnail img-circle" src="https://bootdey.com/img/Content/User_for_snippets.png" alt="">
                    <h4>Rohit Goja</h4>
                    <p class="title">Designer</p>
                </div>
                <div class="col-md-12">
                    <div class="details">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 col-sm-offset-5 member-thumb  fade-right in">
                    <img class="img-responsive img-center img-thumbnail img-circle" src="https://bootdey.com/img/Content/HexGames349.jpg" alt="">
                    <h4>Drashti Whatever</h4>
                    <p class="title">Lead Designer &amp; Co-Founder</p>
                </div>
                <div class="col-md-12">
                    <div class="details">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Contact Us-->
    <section id="contact">
        <div class="jumbotron img-responsive" style="background-image:url(../../Images/IMG_7007.JPG); text-align:center">
            <div class="row">
                <div class="col-md-12">
                    <div class="container col-md-11">
                        <h2 class="section-heading">Contact Us</h2>
                        <h4 class="section-subheading" style="color:whitesmoke">
                            If you have any queries or need any information, please
                            take a moment to send us your comments by filling the form below.
                        </h4>
                        <div class="container" style="margin-bottom:10px">
                            <form action="/Home/Index" method="post">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" style="color:whitesmoke; padding-top:25px" for="Name">Name</label>
                                    <div class="col-md-8">
                                        <input class="form-control" data-val="true" data-val-required="The Name field is required." id="Name" name="Name" placeholder="Name *" type="text" value="">
                                        <br>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" style="color:whitesmoke; padding-top:25px" for="Email">Email</label>
                                    <div class="col-md-7">
                                        <input class="form-control" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" placeholder="Email *" type="text" value="">
                                        <br>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" style="color:whitesmoke; padding-top:25px" for="PhoneNumber">PhoneNumber</label>
                                    <div class="col-md-7">
                                        <input class="form-control" data-val="true" data-val-required="The PhoneNumber field is required." id="PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber *" type="text" value="">
                                        <br>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" style="color:whitesmoke; padding-top:25px" for="Message">Message</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control " cols="20" data-val="true" data-val-required="The Message field is required." id="Message" name="Message" placeholder="Type your Message here *" rows="2" style="margin: 0px - 25px 0px 0px; height: 86px; width: 283px; "></textarea>
                                        <br>
                                        <span class="field-validation-valid text-danger " data-valmsg-for="Message" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="alert alert-success">
                                            <strong>Success!</strong> This alert box could indicate a successful or positive action.
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-xl" value="Send">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>